
.table_border{
	width:80%;
	border:2px solid #2f95e3;
	margin-left:auto;
	margin-right:auto;
}

.main_table_small{
	width:50%;
	border:2px solid #2f95e3;
	margin-left:auto;
	margin-right:auto;
}

.query_table{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	border:1px solid #2f95e3; //e32f2f
}
.query_table td{
	text-align:left;
	//width:80%;
	border:1px solid #2f95e3;
}
.query_table td.submit_button{
	//margin-left:auto;
	//margin-right:auto;
	border:1px solid #2f95e3;
	font-weight: bold;
	float:center;
	text-align:center;
}

.query_field{
	text-align:left;
	border:1px solid #2f95e3;
}
.query_ok{
	margin-left:auto;
	margin-right:auto;
	border:1px solid #2f95e3;
	font-weight: bold;
	//float:top;
	text-align:center;
}
.query_table td.query_bar{
	//background-color:#2f95e3;
	border:1px solid #e32f2f;
	//border:1px solid #e32f2f;
}
.match_table{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	border:1px solid #2f95e3; //e32f2f
}
.match_table td{
	text-align:left;
	border:1px solid #2f95e3;
}
.match_table td.submit_button{
	//margin-left:auto;
	//margin-right:auto;
	border:1px solid #2f95e3;
	font-weight: bold;
	//float:center;
	text-align:center;
}
