<h2>Browse Multiple Alignments in BDPA</h2>
<br>
<b>Plot of file "{file}.msa" <a href="javascript:history.go(-1)">[BACK]</a></h3>
	<br>
	<table border="0">
	    <tr>
		<td>
		    <table id="alignment-header" border="1">
			<tr>
            	    	    <td><b>File: </b></td>
            	    	    <td><b>{file}</b></td>
            	    	</tr>
            	    	<tr>
            	    	    <td><b>Dataset: </b></td>
			    <td><b><a href="multiple.php?dataset={dataset}">{dataset}</a></b></td>
            	    	</tr>

            	    	<tr>
            	    	    <td><b>Sequence: </b></td>
            	    	    <td><b>{sequence}</b></td>
			</tr>
		    </table>
		</td>
		<td width="10"> </td>
		<td>
		    <table id="alignment-header" border="1"> 
			<tr>
            	    	    <td><b>Number of Words (all): </b></td>
            	    	    <td><b>{taxa}</b></td>
            	    	</tr>
            	    	<tr>
            	    	    <td><b>Number of Words (unique): </b></td>
            	    	    <td><b>{uniseqs}</b></td>
            	    	</tr>
            	    	<tr>
            	    	    <td><b>Percentage Identity: </b></td>
			    <td><b><a href="multiple.php?pid={pid}">{pid}</a></b></td>
			</tr>
		    </table>
		</td>
	    </tr> 
	</table>
	<table align="left" border=0 class="msa-table" width="{table_width}">
	    <tr>
		<td align="left"><b>Taxon</b></td>
		<td align="left" colspan="{width}"><b>Alignment</b></td>
	    </tr>
{table}
	</table>
	<div
	    style="clear:left;margin-top:50px;text-align:left;padding-top:15px;font-size:8;font-weight:bold;text-align:center">
Created using <a
		href="http://lingpy.org">LingPy</a> (Version 2.0). 
	</div>
